.ant-steps-item-title {
    font-size: 25px;
}

.ant-steps-icon {
    font-size: 25px !important;
}

.bookticket-step {
    margin-top: 30px;
}

.bookticket {
    padding-top: 160px;
    padding-bottom: 30px;
}

.box-shadow {
    width: 100%;
    overflow: auto;
    margin: 30px 0px;
    height: 100px;
    background-color: #fff;
    box-shadow: 5px 5px 15px 0px rgba(46, 61, 73, 0.2);
    border-radius: 10px;
}
