/* footer.css */

footer .container {
    padding: 20px 0px;
}

.footerContent {
    color: rgb(197, 197, 197);
}

.footerContent ul li {
    padding-bottom: 10px;
}

.footerContent ul li i {
    margin-right: 10px;
}

.footerContent .title {
    text-transform: uppercase;
}

footer .container .left {
    padding-left: 20px;
}

footer  .container .left .title {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
    color: aliceblue
}

footer .container .mid,
footer .container .right {
    margin-top: 30px;
}

footer .container .right .title, footer .container .mid .title {
    font-size: 30px;
    color: aliceblue
}

footer .container .right .row div {
    margin: 0 0 10px 0;
    padding-right: 0px;
}


footer a {
    color: rgb(170, 221, 255);
}

footer a :link, :visited {
    color: rgb(255, 255, 255);
}

footer a :hover {
    color: rgb(255, 112, 112)
}

