/* home.css */

.goto_bookticket {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card_goto {
    margin-top: 100px;
    margin-bottom: 100px;
}


#home-book-ticket {
    color:teal;
}

#home-book-ticket .title {
    color: teal;
}

.button {
  background: url(../images/button_5.jpg);
  margin: 20px 0px;
  width: 300px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 32px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -82px;
  padding-top: 2px;
  background : url(../images/button_3.jpg);;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
  padding-top: 13px;
}
.btnText2 {
  margin-top: 58px;
  margin-right : -130px;
  color : #FFF;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.home-card-page {
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 10px;
}

.home-card-page .image {
    position: relative;
    height: 8.5rem;
}

.home-card-page .image img {
    position: absolute;
    border-style: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}

.home-card-page .content {
    padding: 25px 15px;
}

.home-section {
    background: url(../images/anh_2.png);
    overflow: auto;
}