
/* style.css */

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
font-family: 'Sunflower', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
font-family: 'Sunflower', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
font-family: 'Open Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
	
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    padding: 0;
    font-family: 'Sunflower', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*-- //Reset-Code --*/
.title {
    font-size: 44px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: capitalize;
}
.clr {
    color: #fff;
}
/*-- header --*/

/*-- nav --*/
.header-outs {
    position:relative;
}
.header-bar {
    position: absolute;
    width: 100%;
	z-index: 99;
    background:url(../images/anh_1.png);
}
h1 a.navbar-brand {font-size:32px;color: rgb(214, 233, 252) !important;text-transform:capitalize;font-weight: 600;letter-spacing: 2px;margin: 5px;}
.hedder-up {
    background: #fff0;
}
.search-right,.right-side-cart {
    margin-top: 9px;
    text-align: right;
}
/*--headder info-contact --*/
.info-top-grid,nav.navbar.navbar-expand-lg.navbar-light {
    background: rgba(50, 134, 185, 0);
}
.hedder-up,.info-top-grid,nav.navbar.navbar-expand-lg.navbar-light{
	padding: 1em 3em;
}

.info-contact-agile ul li{
	display:inline-block;
}
.info-contact-agile ul li p,.info-contact-agile ul li p a {
    font-size: 14px;
    color: #000;	
  display: inline-block;
}
.info-contact-agile ul li p a:hover{color:#fff;}
.info-contact-agile ul li span {
    font-size:20px;
    color: #ea1d5d;
	margin-right:12px;
}
.info-contact-agile ul li:nth-child(1) {
    margin-right: 16px;
}

/*--//headder info-contact --*/
.search-right input[type="search"] {
	width:85%;
    color: #fff;
    background-color: #e4e4e4;
    outline: none !important;
    font-size: 14px;
	margin-right: 0px !important;
	border-radius:0px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.search-right button {
    background: #000;
    padding: 4.5px 0px;
    width: 13%;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #fff;
}
.search-right button:hover{background:#fff;
                    color:#000;}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:600;
    padding: 10px 38px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
nav.navbar.navbar-expand-lg.navbar-light{
    padding: 1em 0em;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color:#58d998;

}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.open, 
.navbar-light .navbar-nav .open>.nav-link {
    color:#1d71c6;
    background:white;
    border-style:solid;
    border-radius:10px;
}
/*-- //nav --*/
/*--model--*/
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 16px;
    color: #5a5656;
    padding: 12px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    background: none;
    outline: none;
    margin-bottom: 18px;
}
h5#exampleModalLabel{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
/*--//model--*/
/*-- banner --*/ 
.one-img{  background: url(../images/b1.jpg) no-repeat center;}
.two-img{  background: url(../images/b2.jpg) no-repeat center;}
.three-img{background: url(../images/b3.jpg)no-repeat center;} 
.slider-img{background-size: cover;min-height: 550px;}  
.rslides {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.rslides li {
-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 100%;
left: 0;
top: 0;
}
.rslides li:first-child {
position: relative;
display: block;
float: left;
}
.rslides img {
display: block;
height: auto;
float: left;
width: 100%;
border: 0;
}
/*-- //banner Slider --*/
.rslides {
margin: 0 auto 40px;
}
#slider2,
#slider3 {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin: 0 auto;
}
.rslides_tabs {
list-style: none;
padding: 0;
background: rgba(0,0,0,.25);
box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
font-size: 18px;
list-style: none;
margin: 0 auto 50px;
max-width: 540px;
padding: 10px 0;
text-align: center;
width: 100%;
}
.rslides_tabs li {
display: inline;
float: none;
margin-right: 1px;
}
.rslides_tabs a {
width: auto;
line-height: 20px;
padding: 9px 20px;
height: auto;
background: transparent;
display: inline;
}
.rslides_tabs li:first-child {
margin-left: 0;
}
.rslides_tabs .rslides_here a {
background: rgba(255,255,255,.1);
color: #fff;
font-weight: bold;
}
a {color: rgb(240, 248, 255);text-decoration: none;}
/* Callback example */
/*.events {
list-style: none;
}*/
.callbacks_container {
position: relative;
float: left;
width: 100%;
}
.callbacks {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.callbacks li {
position: absolute;
width: 100%;
left: 0;
top: 0;
}
.callbacks img {
display: block;
position: relative;
z-index: 1;
height: auto;
width: 100%;
border: 0;
}
.callbacks .caption {
display: block;
position: absolute;
z-index: 2;
font-size: 20px;
text-shadow: none;
color: #fff;
background: #000;
background: rgba(0,0,0, .8);
left: 0;
right: 0;
bottom: 0;
padding: 10px 20px;
margin: 0;
max-width: none;
}
.slider-info {padding: 15em 0 0;text-align: right;}
.slider-info h5 {
    font-size: 62px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 11px;
    text-shadow: 1px 1px 7px #151212;
}
.slider-info p {
    font-size: 16px;
    letter-spacing: 2px;
    color: #f3f3f3;
    line-height: 30px;
}
.outs_more-buttn a {
    font-size: 14px;
    color: #0062cc;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffffff;
    outline: none;
    border-radius: 50px;
    padding: 10px 22px;
    border: 2px double #007bff;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.outs_more-buttn a:hover{
    background: none;
    border: 2px double #ffffff;
    color: #fff;
}
.callbacks_nav {
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
top:65%;
left: 0;
opacity: 0.7;
z-index: 3;
text-indent: -9999px;
overflow: hidden;
text-decoration: none;
height: 53px;
width: 53px;
background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
margin-top: -45px;
}
.callbacks_nav:active {
opacity: 1.0;
}
.callbacks_nav.next {
left: auto;
background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
background-position: right top;
right: 0;
}
.callbacks_nav ,
.callbacks_nav.next {
background-size:40px;
}
/*#slider3-pager a {
display: inline-block;
}
#slider3-pager img {
float: left;
}
#slider3-pager .rslides_here a {
background: transparent;
box-shadow: 0 0 0 2px #666;
}
#slider3-pager a {
padding: 0;
}*/
/*--pager--*/
/*.callbacks_tabs {
list-style: none;
position: absolute;
padding: 0;
bottom: 228px;
right: 41%;
margin: 0;
z-index: 9;
display: block;
text-align: center;
}
.callbacks_tabs li {
    display: inline-block;
    margin: 0px 2px 0px;
}
.callbacks_tabs a {
visibility: hidden;
}
.callbacks_tabs a:after {
content: "\f111";
font-size: 0;
font-family: FontAwesome;
visibility: visible;
display: block;
width: 21px;
height: 21px;
display: inline-block;
background:#d24055;
border: none;
border-radius: 50%;
}
.callbacks_here a:after {
background: #fff;
border: 4px solid #d24055;
}*/
.news-agile-text p,.product-info-img p,
.sub-agile-info-toys p,.news-agile-text p ,
.about-products-w3layouts p,.address-gried p,
.address-gried p a,.icons p,.about-innergrid-agile p,.abut-gride p{
    line-height: 28px;
    font-size: 14px;
    color: #000;
}

.banner-right-icon h4,.clients-says-w3layouts h4{
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
}
/*-- //banner --*/
/*-- inner-banner --*/ 
.inner_page-banner {
text-align: center;
background: url(../images/b2.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
min-height: 350px;
}
ul.short_ls li a {
    color: #ffffff;
    text-decoration: none;
}
ul.short_ls li {
list-style: none;
display: inline-block;
letter-spacing: 1px;
font-size: 14px;
}
.using-border {
     width: 100%; 
    border: none; 
    background:#ea1d5d;
    text-align: center;
}
/*-- //inner-banner --*/ 
/*--blog--*/
.blog,.premium,.sub-below-address{
    background:#26bb48;
}
/*--//blog--*/
/*-- about-- */
.about-toys-off h2{
    font-size: 28px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 38px;
    text-transform: uppercase;
}
.about-toys-off span {
    font-style: italic;
    font-weight: 200;
    color: #ea1d5d;
}
.toys-grids-upper {
    background: #000;
    padding: 5em 2em;
}
.banner-below-w3l {
    position: relative;
}
.toys-grids-upper {
    background:rgba(0, 0, 0, 0.7);
    padding: 6em 2em;
    position: absolute;
    width: 51%;
    text-align: center;
    top: 166px;
    left: 25%;
}
/*-- about-inner-- */
.about-innergrid-agile h4,.about-sub-inner h4{
	font-size: 32px;
	margin-bottom: 25px;
    text-transform: uppercase;
	color:#ea1d5d;}
	.abut-gride span {
    font-size: 30px;
    background: #26bb48;
    color: #ffcb2d;
    width: 67px;
    height: 67px;
    line-height: 72px;
    margin-bottom: 18px;
    border-radius: 50px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.abut-gride:hover span {
	color:#fff;
}
.abut-gride h5 {
    font-size: 24px;
    color: #000;
}
/*--// about-inner-- */
/*--// about-- */
/*-- slider--*/
.agileit-folio_grid:before {
	content: "";
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    line-height: 2.9em;
	font-family: FontAwesome;
    color: #fff;
	text-align: center;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    transform: translateX(-50%) translateY(-50%) scale(0.3,0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    -moz-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    -ms-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    -o-transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    transition: all .3s cubic-bezier(0.6,-0.28,0.735,0.045) 0s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.agileit-folio_grid:after {
    background-color: rgba(94, 192, 93, 0.44);
	content: ' ';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.agileinfo_port_grid:hover .agileit-folio_grid:after {
    opacity: 1;
}
.agileinfo_port_grid:hover .agileit-folio_grid:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1,1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1,1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1,1);
    transform: translateX(-50%) translateY(-50%) scale(1,1);
    -webkit-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    -moz-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    -ms-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    -o-transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
    transition: all .3s cubic-bezier(0.175,0.885,0.32,1.275) 0.1ms;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	padding:0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 25px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:none;
    top: -5% !important;
    border-radius: 5px;
	display:none;
}
.nbs-flexisel-nav-left {
	left:50%;
}
.nbs-flexisel-nav-right {
	right: 1%;
    background:none;
}
/*.about{position:relative;}
.slid-img{position:absolute;
width:100%;
left:0%;
bottom:-86px}
/*--//flexisel--*/
/*--//slider--*/
/* --customer-review--*/
.clients { background: url(../images/b1.jpg)no-repeat center;
    background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.least-w3layouts-text-gap {
    box-shadow: 1px 1px 6px 0px black;
    padding: 2em 3em;
    background: rgba(255, 255, 255, 0.7215686274509804);
}
.news-img img {
    border-radius: 50%;
}
.clients-says-w3layouts {
    padding: 26px 0px 0px;
}
.clients_more-buttn a ,.subscrib-btnn,.sent-butnn{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #000;
    outline: none;
    padding: 13px 33px;
    border: 1px double #000;
    margin: 22px 0px;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.clients_more-buttn a:hover,.subscrib-btnn:hover,.sent-butnn:hover {background:#fff;
color:#000;}
 .carousel-control-prev {
    left: -58px;
}
.carousel-control-next{
    right: -58px;
}
.carousel-control-next, .carousel-control-prev {
    width: 3%;
}
.clients-says-w3layouts span {
    font-size: 13px;
    color: #26bb48;
}
.news-agile-text span {
    font-size: 20px;
    margin: 0px 9px;
    color: #ea1d5d;
}
/*--//customer-review-- */
.map-info-right iframe {
    width: 100%;
    height:24em;
    border: 0;
}
.address-w3l-right {
    background:#ffcb2d;
    padding: 2em 0em;
}
.address-gried span{ 
font-size:30px;
color:#ea1d5d;
    margin-bottom: 10px;
	}

.email-sub-agile input[type="email"],.contact-forms input,.contact-forms textarea {
    width: 100%;
    background: #fff;
    border:1px solid #000;
    padding: .8em .7em;
    border-radius: 0px;
    outline: none !important;
    font-size: 14px;
}
.sub-info-mail{width:50%;
               margin:0px auto;}
.icons ul li,.cart-icons ul li,.icons-social ul li{
    display: inline-block;
}
.icons ul li a,.cart-icons ul li{
    color: #fff;
    border-style: solid;
    border-radius: 15px;
    border-width: 0px;
    padding: 0px 20px;
    margin: 0px 10px;
}

.icons ul li a, .cart-icons ul .login {
	background: url(.././images/button_4.jpg);
}

.icons ul li a, .cart-icons ul .signup {
	background: url(.././images/button_5.jpg);
}



.icons ul li a span ,.cart-icons ul li span,.icons-social ul li span{
    font-size: 15px;
    /* border: 1px solid; */
    letter-spacing: 0px;
    width: 37px;
    height: 37px;
    line-height: 35px;
    text-align: center;
    margin: 0px 5px;
    color: #ebf3ff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icons ul li a span:hover,
.cart-icons ul li span:hover
{
    color: #fff;
}
.icons-social ul li span:hover{color:#000;}
/*--social-icons--*/
.footer-social li {
    display: inline-block;
}
.footer-social li a {
    color: #999;
    font-size: 15px;
}
.footer-social li a:hover {
    color:#ffcb2d;
}

/*--//social-icons--*/
/*--//subscribe- */
/*--contact- */
.contact-forms textarea {
    resize: none;
    height: 9em;
}
/*--//contact- */
/*--check-out- */
.shop_inner_inf {
    width: 90%;
    margin: 0 auto;
}
/*--//check-out- */
/* typography */
h3.typo-main-heading {
    font-size: 2.7em;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 2px solid #e2e1e1;
    display: inline-block;
    color:#ea1d5d;
}
h4.typo-sub-heading {
	color: #000;
	font-size: 26px;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-weight: 500;
}

@media(max-width:1080px) {
	h4.typo-sub-heading {
		font-size: 24px;
	}
	h3.typo-main-heading {
		font-size: 2.5em;
	}
}

@media(max-width:800px) {
	h4.typo-sub-heading {
		font-size: 22px;
	}
	h3.typo-main-heading {
		font-size: 2.3em;
	}
}

@media(max-width:640px) {
	h3.typo-main-heading {
		font-size: 2em;
	}
}
/* typography */
/*--icons 404 pages--*/
.page-not-agile h4 {
font-size: 11em;
letter-spacing: 19px;
color:#26bb48;
font-weight: 600;
}
.sub-text-page p {
font-size: 15px;
color: #000;
letter-spacing: 2px;
}
/*--//icons 404 pages--*/
/*-- footer-- */
footer{background:#000;}
.copy-agile-right p {
    letter-spacing: 2px;
    font-size: 14px;
	color:#fff;
}
.copy-agile-right p a {
    color:#ea1d5d;
}
.copy-agile-right p a:hover{color:#fff;}
/* --footer-- */

/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	.slider-info h5 {
    font-size: 57px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.slider-img {
    min-height: 550px;
}
.title {
    font-size: 41px;
    letter-spacing: 2px;
}
.slider-info {
    padding: 14em 0 0;
}
.page-not-agile h4 {
    font-size: 9em;
    letter-spacing: 16px;
}
}
@media(max-width: 1920px){
.title {
    font-size: 41px;
}
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0.5em 1em;
}
.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
    padding: 6px 38px;	
}
.search-right input[type="search"] {
    width: 80%;
}
.search-right button {
    width: 19%;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 35px;
}
.map-info-right iframe {
    height: 22.5em;
}
.address-w3l-right {
    padding: 1.5em 0em;
}
.address-gried span {
    font-size: 28px;
    margin-bottom: 8px;
}
.sub-info-mail {
    width: 54%;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 30px;
	    margin-bottom: 21px;
}
}
@media(max-width:1280px){
.clients_more-buttn a, .subscrib-btnn, .sent-butnn {
    padding: 11px 27px;
}	
.sub-agile-info-toys {
    padding: 2em 2em;
}
.abut-gride span {
    font-size: 27px;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 15px;
}
}
@media(max-width:1080px){
	.toys-img-one-two, .toys-img-one-three {
    height: 266px;
}
.toys-img-one {
    height: 729px;
}
.img-toy-w3l-top {
    height: 449px;
}
.outs_more-buttn a{padding:8px 19px;}
.toys-grids-upper {
    width: 59%;
    left: 20%;
}
.news-agile-text span {
    font-size: 18px;
margin: 0px 6px;}
.news-agile-text span {
    font-size: 18px;
    margin: 0px 6px;
}
.sub-text-page p {
    letter-spacing: 1px;
}
h3.typo-main-heading {
    font-size: 2.5em;
}
h4.typo-sub-heading {
    font-size: 24px;
}
}
@media(max-width:1050px){
	.carousel-control-prev {
    left: -42px;
}
.carousel-control-next {
    right: -43px;
}
.search-right input[type="search"] {
    width: 77%;
}
.search-right button {
    width: 23%;
}
.navbar-light .navbar-nav .nav-link {
    padding: 6px 32px;
}
.slider-info h5 {
    font-size: 49px;
    margin-bottom: 6px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 30px;
}
.slider-img {
    min-height: 550px;
}
.toys-grids-upper {
    padding: 5em 2em;
}
.sub-info-mail {
    width: 60%;
}
.abut-gride span {
    width: 63px;
    height: 63px;
    line-height: 67px;
}
}
@media(max-width:1024px){
.least-w3layouts-text-gap {
    padding: 1.5em 2.5em;
}	
.carousel-control-next {
    right: -34px;
}
.carousel-control-prev {
    left: -33px;
}
.clients_more-buttn a, .subscrib-btnn, .sent-butnn {
    margin: 19px 0px;
}
.address-gried span {
    font-size: 25px;
}
.map-info-right iframe {
    height: 21em;
}
.page-not-agile h4 {
    font-size: 8em;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    margin-bottom: 12px;
}
}
@media(max-width:991px){
	.info-contact-agile ul li span {
    font-size: 16px;
	}
h1 a.navbar-brand {
    font-size: 30px;
	}
	div#navbarSupportedContent {
background:transparent;
text-align: center;
padding: 13px 0px;
}
.navbar-light .navbar-nav .nav-link {
padding: 12px 15px;
}
.navbar-light .navbar-toggler {border-color:#fff;background: #95c1f1;padding: 2px 6px;margin-top: 0px;outline: none;margin-right: 0px;cursor: pointer;border-radius: 6px;transition: 0.5s all;-webkit-transition: 0.5s all;/* position: absolute; */margin: auto;top: 0;left: 0;right: 0;bottom: 0;-moz-transition: 0.5s all;-o-transition: 0.5s all;-ms-transition: 0.5s all;}
.navbar-light .navbar-toggler:hover {background: #fff;}
.toys-grids-upper {
    width: 78%;
    left: 10%;
	padding: 4em 2em;
	top: 361px;
}	
.clients-w3layouts-row:nth-child(2) {
    margin-top: 33px;
}
.agileits-toys-left {
    height: 609px;
}
.sub-agile-info-toys {
    padding: 1.5em 1.5em;
}
.clients_more-buttn a,.subscrib-btnn,.sent-butnn {
    letter-spacing: 1px;
}
.banner-agile-flowers:nth-child(3) {
    margin-top: 20px;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 28px;
    margin-bottom: 19px;
}
}
@media(max-width:900px){
	.slider-img {
    min-height: 550px;
}
.slider-info {
    padding: 14em 0 0;
}
.slider-info h5 {
    font-size: 44px;
	letter-spacing:1px;
}
.slider-info p {
    font-size: 15px;
    letter-spacing: 1px;
}
.img-toy-w3l-top {
    height: 331px;
}
}
@media(max-width:800px){
.icons ul li a span, .cart-icons ul li span, .icons-social ul li span {
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    margin: 0px 3px;
}
.banner-right-icon h4, .clients-says-w3layouts h4 {
    font-size: 21px;
}
.about-toys-off h2 {
    font-size: 26px;
}
.toys-grids-upper {
    padding: 3em 2em;
}	
.sub-info-mail {
    width: 69%;
}
.copy-agile-right p {
    letter-spacing: 1px;
}
h3.typo-main-heading {
    font-size: 2.3em;
}
h4.typo-sub-heading {
    font-size: 22px;
}
}
@media(max-width:768px){
	.slider-info h5 {
    font-size: 42px;
	}
	.news-agile-text span {
    font-size: 16px;
	}
.carousel-control-prev {
 left: -22px;
}
.carousel-control-next {
    right: -23px;
}
.clients-says-w3layouts {
    padding: 22px 0px 0px;
}
.clients_more-buttn a, .subscrib-btnn, .sent-butnn {
    margin: 14px 0px;
	padding: 8px 23px;
}
.abut-gride h5 {
font-size: 22px;
}
}
@media(max-width:767px){
.search-right input[type="search"] {
    width: 74%;
}
.search-right button {
    width: 26%;
}
.slider-info h5 {
    font-size: 39px;
}
.slider-info p {
    font-size: 14px;
}
.slider-img {
    min-height: 550px;
}
.slider-info {
    padding: 15em 0 0;
}
h1 a.navbar-brand {
    font-size: 28px;
}
.toys-grids-upper {
    width: 97%;
    left: 1%;
}	
.about-toys-off h2 {
    font-size: 23px;
}
.img-toy-w3l-top {
    height: 253px;
}
.img-toy-w3l-top {
    height: 253px;
}
.toys-img-one-two, .toys-img-one-three {
    height: 252px;
}
.map-info-right iframe {
    height: 18em;
}
.search-right {
    margin: 16px 0px;
}
.slider-info {
    padding: 18em 0 0;
}
.callbacks_nav {
    top:81%;
}
.abut-gride:nth-child(2) {
    margin: 26px 0px;
}
.contact-forms textarea {
    height: 8em;
}
}
@media(max-width:736px){
	.title {
    font-size: 39px;
	 letter-spacing: 1px;
}
.sub-info-mail {
    width: 85%;
}
.page-not-agile h4 {
    font-size: 7em;
}
}
@media(max-width:667px){
.slider-info h5 {
    font-size: 36px;
}
.map-info-right iframe {
    height: 15em;
}	
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 24px
}

}
@media(max-width:640px){
	h1 a.navbar-brand {
    font-size: 26px;
}
.info-contact-agile ul li p, .info-contact-agile ul li p a {
    font-size: 13px;
}
.page-not-agile h4 {
    font-size: 6em;
}
h3.typo-main-heading {
    font-size: 2em;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    padding: 9px 7px;
}
}
@media(max-width:600px){
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0.5em 1em;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
	  padding: 10px 15px;
}
.contact-forms textarea {
    height: 7em;
}
}
@media(max-width:568px){
	.toys-grids-upper {
    position: initial;
    width: 100%;
	margin-top: 20px;
	}
	.carousel-control-prev {
    left: -9px;
}
.carousel-control-next {
    right: -7px;
}
.toys-img-one {
    height: 712px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 23px;	
}
.banner-agile-flowers:nth-child(2){
    margin-top: 21px;
}	
.abut-gride h5 {
    font-size: 21px;
}
.page-not-agile h4 {
    font-size: 5em;
}
.agileits-toys-left {
    height: 559px;
}
}
@media(max-width:480px){
.toys-img-one {
    height: 712px;
}	
.slider-info p {
    line-height: 27px;
}
.about-toys-off h2 {
    font-size: 21px;
}
.about-toys-off h2 {
    font-size: 21px;
}
.toys-grids-upper {
    padding: 2em 1em;
}
.news-agile-text img {
    width: 98%;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 22px;
}
.sub-text-page p {
    font-size: 14px;
}
.agileits-toys-left {
    height: 497px;
}
}
@media(max-width:440px){
	.email-sub-agile input[type="email"], .contact-forms input, .contact-forms textarea {
    padding: .7em .7em;
}
.sub-info-mail {
    width: 92%;
}
.copy-agile-right p {
    line-height: 28px;
}
.about-innergrid-agile h4, .about-sub-inner h4 {
    font-size: 22px;
    line-height: 33px;
}

.timetable_sub th, .timetable_sub td {
    padding: 6px;
    font-size: 13px;
}
}
@media(max-width:414px){
.toys-img-one-two, .toys-img-one-three {
    height: 210px;
}
.toys-img-one {
    height: 527px;
}
.img-toy-w3l-top {
    height: 212px;
}	
.slider-info h5 {
    font-size: 29px;
}
.slider-img {
    min-height: 550px;
}
.about-toys-off h2 {
    font-size: 19px;
}
.sub-text-page p {
    line-height: 25px;
}
.agileits-toys-left {
    height: 416px;
}
}
@media(max-width:384px){
	.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: .7em 1em;
}
	.clients-says-w3layouts {
    padding: 16px 0px 0px;
}
.title {
    font-size: 37px;
}
.slider-info h5 {
    font-size: 23px;
}
.slider-info {
    padding: 18em 0 0;
}
.about-toys-off h2 {
    font-size: 18px;
}
.page-not-agile h4 {
    font-size: 4em;
}
.checkout-right h4, .address_form h4 {
    font-size: .9em;
}
.shop_inner_inf {
    width: 100%;
    margin: 0 auto;
}
.timetable_sub th, .timetable_sub td {
    padding: 4px;
    font-size: 12px;
}
}
@media(max-width:375px){

.slider-info p {
    font-size: 13px;
}
.toys-img-one-two, .toys-img-one-three {
    height: 186px;
}
.abut-gride span {
    font-size: 24px;
}
.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    font-size: 14px;
}
.agileits-toys-left {
    height: 374px;
}
}
@media(max-width:320px){
.slider-info h5 {
    font-size: 21px;
}
.slider-info {
    padding: 18em 0 0;
}
.img-toy-w3l-top {
    height: 142px;
}
.toys-img-one {
    height: 377px;
}
.toys-img-one-two,.toys-img-one-three {
    height: 156px;
}
.timetable_sub th, .timetable_sub td {
    padding: 3px;
    font-size: 11px;
}
.agileits-toys-left {
    height: 312px;
}
}
/*--//responsive--*/

